* {
  margin: 0;
  padding: 0;

  font-style: italic;
  font-family: 'Alkalami', serif;
  font-family: 'Roboto', sans-serif;
}

html {
  background-position: center;
  background-image: url(../perfil-inicial/a.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
  background-clip: content-box;
}

body {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 900px;
  background-image: linear-gradient(
    90deg,
    rgb(0, 0, 0, 0.6),
    rgb(0, 0, 0, 0.6)
  );
  background-size: contain;
  background-clip: padding-box;
}

.gradient {
  padding-left: 20px;
  width: 500px;
  margin: 0px auto;
  margin-bottom: 10px;

  font-size: 40px;
  text-align: center;
  text-transform: uppercase;

  color: #b3b6b6;
  background-clip: text;
  -webkit-background-clip: text;

  border-radius: 80px;
  border-bottom: 2px solid whitesmoke;
}

.paragrafo {
  background-image: linear-gradient(
    0deg,
    rgba(0, 38, 253, 0.363),
    rgba(55, 0, 255, 0.082)
  );
  color: white;
  width: 500px;
  text-align: center;
  margin: 0% auto;
  border-radius: 80px;
  font-size: 18px;
}

img {
  padding: 20px;
  width: 400px;
  border-radius: 100px;

  display: block;
  margin: 0px auto;
}

.menu_navegacao {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 auto;
}

.menu_navegacao nav a {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 14px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0 auto;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 190px;
  word-break: keep-all;
  z-index: 0;
  display: flex;
}

@media (min-width: 768px) {
  .menu_navegacao nav a {
    padding: 19px 32px;
  }
}

.menu_navegacao nav a:before,
.menu_navegacao nav a:after {
  border-radius: 80px;
}

.menu_navegacao nav a:before {
  background-image: linear-gradient(30.83deg, #2f00ff 0, #0c0d0d 100%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.menu_navegacao nav a:after {
  background-color: initial;
  background-image: linear-gradient(10deg #0c0d0d 0, #2f00ff 100%);
  bottom: 4px;
  content: '';
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.menu_navegacao nav a:hover:not(:disabled):before {
  background: linear-gradient(30.83deg, #272929 0%, #008cff 100%);
}

.menu_navegacao nav a:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.menu_navegacao nav a:active:not(:disabled) {
  color: #ccc;
}

.menu_navegacao nav a:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.menu_navegacao nav a:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.menu_navegacao nav a:disabled {
  cursor: default;
  opacity: 0.24;
}

.menu_navegacao nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.projetos > a {
  background-image: linear-gradient(30.83deg, #2f00ff, #0c0d0d);
  color: white;
  border-radius: 80px;
}

.projetos {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 14px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0 auto;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 190px;
  word-break: keep-all;
  z-index: 0;
  display: flex;

  margin-bottom: 500px;
}
